<%- include('partials/headerProfile') -%>

<div class="flash-container">
	<% if (messages.success) { %>
		<div id='flash-message' class="alert alert-success">
			<%= messages.success %>
		</div>
	<% } %>
</div>

<div class="location-card2">
	<img src="<%= srcLge %>" alt="<%= footnote %>" class="location-image-card2">
	
	<div class="save-photo-container">
		<div class="photo-info">
			<h2 class="pexels-id">Pexels ID: <%= id %></h2>
			<h2 class="photographer">Photographer: <%= photographer %></h2>
		</div>
		<form action="/locations/country/<%= locationName %>/<%=id %>/savePhoto?photo=<%= src %>" method="POST" class="save-photo">
			<label for="albumSelect" class="save-label">Save Photo to Album: </label>
			<select name="albumSelect" id="album-select">
				<% for (let i = 0; i < albums.length; i++) { %>
					<option value="<%= albums[i]._id %>"><%= albums[i].title %></option>
			<% } %>
			</select>
			<button type="submit" class="save-btn">Save</button>
		</form>
		
	</div>
	
	

</div>



<script>
	setTimeout(() => {
		const flashMessage = document.getElementById('flash-message')
		flashMessage.classList.add('fade-out')
	}, 3000)
</script>